logs enabled=true {
    level "trace"
    file enabled=false path="logs"
}

app {
    port 8080

    routes {
        file "/" "pages/index.html"
        dir "/public" "public"
        fallback-file "pages/404.html"
    }
}